
section{
    max-width: flex;
      margin: flex;
  
  }
  
  
      &--background {
          position: relative;
          background: white;
          padding: 2rem 1rem;
  
          &::before {
              content: "";
              position: absolute;
              top: -1rem;
              left: -1rem;
              display: block;
              background-color: #ffffff;
              background-image: linear-gradient(
          45deg, transparent 49%,
          accentColor 50%,transparent 51%
          );
              background-size: 5px 5px;
              right: -1rem;
              bottom: -1rem;
              z-index: -1;
          }
      }

  .message{
    max-width: flex;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  
  .chatbox-container {
    max-width: 600px; 
    margin: 50px auto; 
    background-color: #fff; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  chatbox {
      /* width: 1000px;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column; */
      max-width: 600px; 
      margin: 50px auto; 
      background-color: #fff; 
      border-radius: 8px; 
      overflow: hidden; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
    
    .chatbox-header {
      background-color: #007bff;
      color: white;
      padding: flex;
      text-align: center;
      height: flex;
  
      width: flex;
    }
    
    .chatbox-body {
      flex: 1;
      padding: 10px;
      overflow-y: auto;
      background-color: #f9f9f9;
      height: 500px;
      width: 600px;
    }

    /* .chatbox-inner-body{
      background-color: #f9f9f9;
      height: 500px;
      width: 300px;
    } */
    
    .chatbox-message {
      margin-bottom: 10px;
    }
    
    .chatbox-message-user {
      font-weight: bold;
    }
    
    .chatbox-footer {
      display: flex;
      flex-direction: column;
    }
    
    .chatbox-footer form {
      display: flex;
      align-items: center;
    }
    
    .chatbox-footer input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }
    
    .chatbox-footer button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    .chatbox-footer button:disabled {
      background-color: #ccc;
    }
    
    .chatbox-footer button:hover:not(:disabled) {
      background-color: #0056b3;
    }

    .chatbox-message-timestamp {
      font-size: 0.8em;
      color: #888;
    }